@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    font-family: "outfit";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(217, 54%, 11%);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 375px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 12px;
    justify-content: center;
}
.container img {
       align-items: center;
    align-content: center;
    justify-content: center;
}
#pic {
    padding: 25px;
    border-radius: 45px;
}
h2 {
    color: white;
    margin-left: 20px;
    padding: 10px;
    font-size: 23px;
    font-weight: 400;
}
p {
    color: hsl(215, 51%, 70%);
    padding: 10px 10px 5px 10px;
    font-size: large;
    margin-left: 20px;
}
.div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
#ETH {
    font-size: medium;
    color: cyan;
    
}
#time {
    font-size: medium;
    color: hsl(215, 51%, 70%);
}
.divd {
    display: flex;
    flex-direction: row;
}
hr {
    margin: 0px 16px 0px 16px;
}
.avatar img {
    width: 40px;
    padding: 10px;
}
h3 {
    color: white;
    font-size: medium;
    font-weight: 300;
    padding: 10px;
}
h3 span {
    color: hsl(215, 51%, 70%);
}